<div id="embed" class="mb-2">
  <h2 class="al-show-sub-heading"><%= t('arclight.views.show.embedded_content') %></h2>
  <%= render ImageViewerComponent.new(embeddable_resources) %>

  <% linked_resources.each do |resource| %>
    <div class="al-digital-object">
      <%= link_to(resource.title, resource.href) %>
    </div>
  <% end %>
</div>
