<div id="openseadragon1" style="width: 100%; height: 600px;"></div>
<script>
  $(document).ready(function() {
    OpenSeadragon({
      id: "openseadragon1",
      prefixUrl: "/finding-aids/assets/openseadragon/images/",
      tileSources: [
        <% images.each do |image| %> {
          type: "image",
          url: "<%= image.href %>",
        }<% unless image == images.last %>,<% end %>
        <% end %>
      ],
      sequenceMode: true,
      showReferenceStrip: true,
    });
  });
</script>
