<ol class="list-unstyled">
  <% related_docs.each do |doc| %>
    <%  cache doc do %>
      <li>
        <a href="<%= doc.download_url %>">
          <i class="fa-solid fa-download"></i>
          <%= doc.link_text %>
          <span class="fa-regular fa-external-link-alt"></span>
        </a>
        <% if doc.externalComments.present? %>
          <p><%= doc.externalComments %></p>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ol>
