<ol id="related-documents" class="list-unstyled">
  <% related_docs.each do |doc| %>
    <%  cache doc do %>
      <li>
        <i class="fa-solid fa-download"></i> <a href="<%= doc.download_url %>"><%= doc.link_text %></a>
        <% if doc.externalComments.present? %>
          <p><%= doc.externalComments %></p>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ol>
