@charset "UTF-8";
@import "variables";
@import "nla-custom-bootstrap";

// Facets
.facets {
  .card {
    border: none;
  }
  
  .facets-heading {
    font-family: $font-family-sans-serif;
    font-size: 1.375rem;
    color: $purple;
    font-weight: bold;
    text-shadow: 0 1px 0 $white;
    text-transform: uppercase;
    margin-left: 0;
  }
  
  .card-header {
    background: $white;
  }
  
  h3 {
    font-family: $font-family-sans-serif;
  }
  
  .facet-field-heading {
    .btn:after {
      float: none;
      display: inline-block;
    }
    .btn:not(.collapsed):after {
      transform: rotate(90deg);
      transition: transform 0.15s ease-in-out;
    }
  }
  
  .facet-label {
    padding-left: 0;
    text-indent: 0;
  }
  
  .facet-select {
    text-decoration: none;
    
    &:hover,
    &:focus {
      color: $blue;
      text-decoration: underline;
    }
  }
  
  .facet-limit-active {
    border-color: rgba(0,0,0,0.125) !important;
    
    .card-header {
      background: $white !important;

      .btn {
        color: $black;
      }
    }
    
    .selected {
      color: $gray-medium !important;
    }
    
    .remove {
      .remove-icon {
        font-weight: normal;
        color: rgba(70,71,74,0.3);
        
        &:hover {
          color: $orange;
        }
      }
    }
  }
}

.slider_js {
  .slider-handle {
    background-image: none;
    background-color: $white;
    border: 2px solid $purple;
    opacity: 1;

    &:active,
    &:hover {
      background-color: $purple;
    }
  }

  .slider-selection {
    background-image: none;
    background: $light-purple !important;
  }
}

// Blacklight Range Limit slider in modal
.modal-body {
  .facet-values {
    .selected {
      color: $gray-medium !important;
    }
  }

  .slider_js {
    .slider-handle {
      background-image: none;
      background-color: $white;
      border: 2px solid $purple;
      opacity: 1;

      &:active,
      &:hover {
        background-color: $purple;
      }
    }

    .slider-selection {
      background-image: none;
      background: $light-purple !important;
    }
  }
}
