@charset "UTF-8";
@import "variables";

.nav-tabs {
  background-color: color("gray-very-light");
  border-bottom: none;
  
  .nav-item {
    .active {
      background-color: color("white");
      border-bottom: none;
    }
  }
}

.tab-content {
  background-color: color("white");
}

li.al-collection-context .al-online-content-icon svg,
.al-online-content-icon .blacklight-icons svg {
  fill: color("purple");
}

.al-digital-object.breadcrumb-item {
  a {
    color: color("white");
    background: color("orange");
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;display: inline-block;
    width: auto;
    
    &:hover,
    &:focus {
      background: color("light-purple");
    }
  }
}