@charset "UTF-8";
@import "variables";
@import "nla-custom-bootstrap";

.blacklight-catalog-show #main-container {
  scroll-behaviour: smooth;
}

@media(prefers-reduced-motion: reduce) {
  .blacklight-catalog-show #main-container {
    scroll-behaviour: auto;
  }
}

.nav-tabs {
  background-color: $gray-very-light;
  border-bottom: none;
  
  .nav-item {
    .active {
      background-color: $white;
      border-bottom: none;
    }
  }
}

.tab-content {
  background-color: $white;
}

.al-show-breadcrumb,
.title-container,
.sidebar-section {
  border-bottom-color: #e6e6e6;
}

.collection-sidebar {
  border-right-color: #e6e6e6;
}

.al-collection-context {
  padding: 0.5rem;
  border-radius: 4px;
  
  &:hover,
  &:has(a:focus) {
    background-color: $light-grey;
  }
  
  &.al-hierarchy-highlight {
    border-left: 2px solid $dark-teal;
    background-color: $light-grey;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    > .documentHeader {
      background-color: transparent;
    }
  }
  
  .al-toggle-view-children {
    margin-left: 0;
    margin-right: 0.5rem;
    background-color: $body-color;
    
    &:focus,
    &:hover,
    &:active {
      background-color: $body-color !important;
    }
  }

  a {
    text-decoration: none !important;
    
    &:focus,
    &:hover {
      color: $body-color !important;
      background-color: transparent !important;
      text-decoration: underline !important;
      box-shadow: none !important;
    }
  }
  
  .al-collection-context {
    margin-bottom: 0 !important;
  }
}

li.al-collection-context .al-online-content-icon svg,
.al-online-content-icon .blacklight-icons svg {
  fill: $warm-grey;
}

.title-container {
  h1 {
    font-family: $font-family-serif;
    font-size: 2.5rem;
    font-weight: 400;
  }
}

.al-digital-object {
  margin-top: 2rem;
  margin-bottom: 2rem;
  
  a {
    color: $white !important;
    background: $black;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-decoration: none !important;
    text-align: center;
    width: auto;
    border-radius: 3rem;
    transition: all 0.25s;
    
    &:hover,
    &:focus {
      color: $black !important;
      background: $light-teal !important;
      box-shadow: none !important;
    }
  }
}

.online-contents {
  background-color: $light-grey;
}

.al-grouped-title-bar {
  h3 a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.al-show-sub-heading {
  text-transform: none;
  font-size: 1.125rem;
}

.documentHeader {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.document {
  h1.media svg,
  .breadcrumb .media svg,
  li.al-collection-context .blacklight-icons svg {
    fill: $gray-medium-light;
  }
  
  .dl-invert dt {
    color: $gray-medium-light;
  }
  
  .al-document-container.text-muted {
    color: $gray-medium-light !important;
    font-size: 0.875rem;
  }
}

.document-title-heading h3 {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

#collection-context {
  ul {
    margin: 0;
    padding: 0;
    
    .al-collection-context {
      margin-bottom: 1rem;
    }
  }
}

.al-show-actions-box {
  border: none;
  background-color: $light-grey;
  border-radius: 4px;
  
  .al-show-actions-box-info {
    svg {
      fill: $black;
    }
    
    .al-online-content-icon {
      svg {
        fill: warm-grey;
      }
    }

  }
}

#access-and-use {
  img {
    margin-bottom: 1rem;
  }
}
