@charset "UTF-8";
@import "variables";
@import "nla-custom-bootstrap";

.blacklight-catalog-show #main-container {
  scroll-behaviour: smooth;
}

@media(prefers-reduced-motion: reduce) {
  .blacklight-catalog-show #main-container {
    scroll-behaviour: auto;
  }
}

.nav-tabs {
  background-color: $gray-very-light;
  border-bottom: none;
  
  .nav-item {
    .active {
      background-color: $white;
      border-bottom: none;
    }
  }
}

.tab-content {
  background-color: $white;
}

.al-show-breadcrumb,
.title-container,
.sidebar-section {
  border-bottom-color: var(--nla-divider-color);
}

.collection-sidebar {
  border-right-color: var(--nla-divider-color);
}

.al-collection-context {
  padding: 0.5rem;
  border-radius: 4px;
  
  &:hover,
  &:focus-within {
    background-color: var(--nla-result-item-hover-bg);
  }
  
  &.al-hierarchy-highlight {
    border-left: 2px solid var(--nla-dark-teal);
    background-color: var(--nla-result-item-hover-bg);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    > .documentHeader {
      background-color: transparent;
    }
  }
  
  .al-toggle-view-children {
    margin-left: 0;
    margin-right: 0.5rem;
    background-color: var(--nla-body-color);
    
    &:focus,
    &:hover,
    &:active {
      background-color: var(--nla-body-color) !important;
    }
  }

  a {
    text-decoration: none !important;
    
    &:focus,
    &:hover {
      color: var(--nla-body-color) !important;
      background-color: transparent !important;
      text-decoration: underline !important;
      box-shadow: none !important;
    }
  }
  
  .al-collection-context {
    margin-bottom: 0 !important;
  }
}

.title-container {
  h1 {
    font-family: var(--nla-font-family-serif);
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--nla-body-color);
  }
}

.al-digital-object {
  margin-top: 2rem;
  margin-bottom: 2rem;
  
  a {
    color: var(--nla-body-bg) !important;
    background: var(--nla-body-color);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-decoration: none !important;
    text-align: center;
    width: auto;
    border-radius: 3rem;
    transition: all 0.25s;
    
    &:hover,
    &:focus {
      color: var(--nla-black) !important;
      background: var(--nla-light-teal) !important;
      box-shadow: none !important;
    }
  }
}

.online-contents {
  color: var(--nla-body-color);
  background-color: var(--nla-result-item-hover-bg);
  
  .blacklight-icons-online svg {
    fill: var(--nla-mid-teal) !important;
  }
}

.al-grouped-title-bar {
  h3 a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.al-show-sub-heading {
  text-transform: none;
  font-size: 1.125rem;
}

.documentHeader {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.document {
  h1.media svg,
  .breadcrumb .media svg,
  li.al-collection-context .blacklight-icons svg {
    fill: var(--nla-mid-teal) !important;
  }
  
  .dl-invert dt {
    color: $gray-medium-light;
  }
  
  .al-document-container.text-muted {
    color: $gray-medium-light !important;
    font-size: 0.875rem;
  }
}

.document-title-heading h3 {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

#collection-context {
  ul {
    margin: 0;
    padding: 0;
    
    .al-collection-context {
      margin-bottom: 1rem;
    }
  }
}

.al-show-actions-box {
  border: none;
  background-color: var(--nla-result-item-hover-bg);
  border-radius: 4px;
  
  .btn-secondary {
    svg {
      fill: var(--nla-body-color);
    }
    
    &:focus,
    &:hover {
      svg  {
        fill: var(--nla-black);
      }
    }
  }
}

#access-and-use {
  img {
    margin-bottom: 1rem;
    
    @media screen and (prefers-color-scheme: dark) {
      filter: invert(1);
    }
  }
}



.al-online-content-icon {
  .blacklight-icons {
    svg {
      fill: var(--nla-mid-teal) !important;
    }
  }
}


