@charset "UTF-8";
@import "variables";

.nav-tabs {
  background-color: color("gray-very-light");
  border-bottom: none;
  
  .nav-item {
    .active {
      background-color: color("white");
      border-bottom: none;
    }
  }
}

.tab-content {
  background-color: color("white");
}
.al-hierarchy-highlight > .documentHeader {
  background-color: color("light-yellow");
}

li.al-collection-context .al-online-content-icon svg,
.al-online-content-icon .blacklight-icons svg {
  fill: color("light-purple");
}

.al-digital-object.breadcrumb-item {
  a {
    color: color("white");
    background: color("orange");
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;display: inline-block;
    width: auto;
    
    &:hover,
    &:focus {
      background: color("light-purple");
    }
  }
}

.al-grouped-title-bar {
  h3 a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.grouped-documents {
  .document {
    .documentHeader {
      h4 a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.document {
  h1.media svg,
  .breadcrumb .media svg,
  li.al-collection-context .blacklight-icons svg {
    fill: color("gray-medium-light");
  }
  
  .dl-invert dt {
    color: color("gray-medium-light");
  }
  
  .al-document-container.text-muted {
    color: color("gray-medium-light") !important;
    font-size: 0.875rem;
  }
}

.document-title-heading {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
