@charset "UTF-8";
@import "variables";
@import "nla-custom-bootstrap";

.blacklight-catalog-index #appliedParams {
  margin-bottom: 0.5rem !important;
}

.navbar-search {
  border-top: none;
  border-bottom: none;
  
  .input-group {
    gap: 1rem;
    
    .input-group-text {
      background: transparent;
      border: none;
    }
    
    .form-select,
    .form-control {
      border: 1px solid $warm-grey !important;
      border-radius: 4px !important;
      
      &:focus {
        border-color: $black;
        box-shadow: 0 0 0 1px $black;
      } 
    }
    
    auto-complete,
    > .search-autocomplete-wrapper {
      border: none !important;
      
      #autocomplete-popup {
        background: $light-grey;
        box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.08);
        
        [role="option"] {
          &:focus,
          &:hover,
          &:active,
          &.active,
          &[aria-selected="true"] {
            background-color: $tags-surface;
          }
        }
      }
    }
    
    .btn-primary {
      border-top-left-radius: 5rem !important;
      border-bottom-left-radius: 5rem !important;
    }
  }
}

.constraints-container {
  margin-top: 1rem;
  
  .applied-filter {
    font-weight: normal;
    text-transform: none;
    letter-spacing: 0;
    
    .filter-name:after {
      transition: all 0.25s;
    }
    
    &:focus,
    &:hover {
      .constraint-value,
      .remove {
        color: $white;
        background: $grey-350;
      }
            
      .filter-name:after {
        color: $white;
      }
    }
    
    &:has(.remove:focus) {
      .constraint-value,
      .remove { 
        color: $white;
        background-color: $grey-350;
      }
      
      .filter-name:after { 
        color: $white;
      }
    }
    
    .constraint-value,
    .remove {
      color: $warm-grey;
      background-color: $tags-surface;
      border: none;
      font-size: 0.875rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      line-height: 1;
      z-index: 0;
      
      &.btn {
        padding-top: 0.5rem !important;
        padding-bottom: 0 !important;
      }
    }
    
    .constraint-value {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
    
    .remove {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      padding-left: 0;
      
      &:not(:disabled):not(.disabled):hover,
      &:not(:disabled):not(.disabled):focus,
      &:not(:disabled):not(.disabled):active {
        color: $lightest-orange;
        cursor: pointer;
        text-decoration: none;
        box-shadow: none;
      }
    }
    
    .filter-name {
      &:after {
        color: $warm-grey;
      }
    }
  }  
}
  

.sort-pagination {
  border-top: 1px solid rgb(230,230,230);
  
  .result-type-wrapper {
    flex-grow: 1;
  }

  .result-type-group, .view-type-group {
    border: 1px solid $warm-grey;
    background-color: transparent;
    border-radius: 3rem;
    flex-grow: 0;
    
    .btn {
      border-radius: 3rem;
      background: transparent;
      border-color: transparent;
      color: $body-color;
      
      &.active {
        border-radius: 3rem;
        background: $warm-grey;
        color: $white;
        
        &:focus {
          box-shadow: none;
        }
      }
      &:not(.active) {
        border-color: transparent;
        border-radius: 3rem;
        
        & path:not([fill="none"]) {
          fill: $body-color;
        }
      }
    }
    
    &:has(.btn:not(.active):focus),
    &:has(.btn:not(.active):hover) {
      background: $light-grey;
    }
  }
  
  .btn-group {
    .btn {
      font-weight: normal;
      font-size: 0.875rem;
      padding-left: 1em;
      padding-right: 1em;
    }
  }
  
  .sort-dropdown,
  .per_page-dropdown {
    .btn {
      border: none;
      background: transparent;
      color: $body-color;
      
      &:focus,
      &:hover,
      &:active,
      &.active,
      &.show {
        box-shadow: none;
        text-decoration: underline;
      }
      
    }
  }
  
  .sort-dropdown {
    .btn {
      .d-sm-inline {
        font-weight: 600;
        color: $black;
      }
    }
  }
    
  .per_page-dropdown {
    .btn {
      font-weight: 600;
      color: $black;

      .d-sm-inline {
        font-weight: 400;
        color: $grey-700;
      }
    }
  } 
  
  .dropdown-menu.show {
    background-color: $white;
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.08);
    
    .dropdown-item {
      color: $grey-700;
      text-decoration: none;
      
      &:focus,
      &:hover,
      &:active,
      &.active {
        background-color: $light-grey;
        color: $grey-700;
        box-shadow: none;
      }
    }
  }
}


.al-grouped-results,
.documents-list,
.documents-compact {
  .document-title-heading,
  .al-grouped-title-bar {
    a {
      padding-right: 1.5rem;
      text-decoration: none;
      
      &:focus,
      &:hover {
        color: $body-color;
        text-decoration: underline;
        background-color: transparent;
        box-shadow: none;
        
        &:after {
          content: " \F061";
          font: var(--fa-font-regular);
          box-shadow: none;
        }
      }
    }
    
    .badge {
      color: $warm-grey;
      background-color: $tags-surface;
      border-radius: 0.5rem;
      font-size: 0.875rem;
      font-weight: 400;
      border: none;
    }
  }
  
  .al-online-content-icon .blacklight-icons svg {
    fill: $warm-grey !important;
  }


}

.al-grouped-results {
  .al-grouped-title-bar {
    background: $light-grey;
    padding: 1rem;
  }
  
  .al-document-extent {
    margin-left: 1em;
  }
  .al-document-abstract-or-scope {
    font-size: 1em;
  }
  
  .breadcrumb-links {
    a {
      color: inherit;
      border-bottom: none;
    }
  }
  
  .al-grouped-repository {
    display: none;
  }
  
  .grouped-documents {
    margin-left: 3rem;
    
    .al-grouped-more a {
      font-size: 0.875rem;
      margin-left: 1em;
    }
  }
}

.documents-list,
.documents-compact {
  article {
    &.document {
      margin-top: 0;
      padding: 1rem;
  
      &:first-child {
        padding-top: 1rem;
      }
  
      &:focus,
      &:hover,
      &:has(.document-title-heading a:focus) { 
        background: $light-grey;
      }
      
      .document-title-heading {
        a {
          padding-right: 1.5rem;
          text-decoration: none;
          
          &:focus,
          &:hover {
            color: $body-color;
            text-decoration: underline;
            background-color: transparent;
            box-shadow: none;
            
            &:after {
              content: " \F061";
              font: var(--fa-font-regular);
              box-shadow: none;
            }
          }
        }
        
        .badge {
          color: $warm-grey;
          background-color: $tags-surface;
          border-radius: 0.5rem;
          font-size: 0.875rem;
          font-weight: 400;
        }
      }
      
      .document-thumbnail {
        float: none;
        margin-bottom: 0;
        padding-left: 0;
      }
  
      .al-document-container.text-muted {
        color: $gray-medium-light !important;
        font-size: 0.875rem;
      }
    }
  }
}

.al-document-highlight em {
  background-color: $warm-grey;
  color: $white;
  padding: 0 0.25rem;
}

@media (min-width: 992px) {
  .navbar-search .search-query-form {
    width: 100%;
  }
}
